# Virtual environment (auto-created by tests)
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Type checker cache
.mypy_cache/
.pyright/

# Test cache
.pytest_cache/

# LucidShark cache (auto-created by scans)
.lucidshark/

# Ruff cache
.ruff_cache/
